<div class = "content">
    <%= render 'form' %>
</div>

<div class="special">
    <%= link_to "Delete Plant from Store", @indoor_plant, method: :delete, data: { confirm: "Are you sure you want to delete this Plant?" } %>
</div>