<div class="error">
    <% if @store.errors.any? %>
        <% @store.errors.full_messages.each do |message| %>
            <%= message %>.<br>
        <% end %><br>
    <% end %>
</div>

<%= render 'form' %>