<div class="content">
    <% if @store.plants_sold.empty? %>
        <p>You have not sold any plants yet.</p>
    <% else %>
        <% @store.plants_sold.each do |plant| %>
            <p><%= plant.name %></p>
        <% end %>
    <% end %>
</div>