
<div class="form">
<%= form_for(@customer) do |f| %>

    <%= f.number_field :cash, placeholder: "How much cash do you have?" %>
    <br><br>
    
    <%= f.submit "Submit" %>

<% end %>
</div>