<div class="customer_box">

<p>You have $<%= @customer.cash %>. Create a Store OR check store. </p>
<%= link_to 'My Shops', customer_stores_path(@customer) %>

<h2>You own <%= @customer.indoor_plants.count %> plants.</h2>
<% @customer.indoor_plants.each do |plant| %>
    <%= plant.name %><br>
<% end %>

</div>