<h1><%= @customer.name %></h1>

You have $<%= @customer.cash %>. Would you like to reload?
<br><br>

What would you like to do?<br>
<%= link_to 'Browse Shops', stores_path %><br>
<%= link_to 'Log Out', '/logout' %><br>