<div class="container">

<div class="customer_info">

    <h2>Hi, <%= @customer.name %>.</h2>

    <p>You have $<%= @customer.cash %>. Would you like to reload?</p>

    <p>Create a Store</p>
    You own x many plants.
    <br><br>

</div>

<div class="customer_plant">
    <h2>Owned Plants</h2>
    <% @customer.indoor_plants.each do |plant| %>
        <%= plant.name %><br>
    <% end %>
</div>

</div>