h1 {
    text-align: center;
    font-family: 'Indie Flower', cursive;    
    font-size: 75px;
    letter-spacing: 3px;
    margin: auto;
}

h2 {
    text-align: center;
    font-size: 50px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 210;
  height: 210;
}

div.form {
    text-align: center;
}

div.error {
    text-align: center;
    color: red;
}

input {
    width:300px;
    height:30px;
    text-align: center;
}

div.customer_info {
    float: left;
    width: 25%;
    text-align: center;
    border: 0.5px solid black;
    margin: 10px;
}

div.customer_plants {
    float: right;
    width: 70%;
    text-align: center;
    border: 0.5px solid black;
    margin: 10px;
}

div.nav_bar {
    padding-top: 40px;
    text-align: center;
}

div.nav_bar a {
    padding: 10px;
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    opacity: 30%;
}

a:hover {
    background-color: #92C591;
    transition:all 1s ease;
}

div.fb_login_link {
    padding-top: 20px;
    text-align: center;
}

div.fb_login_link a {
    padding: 10px;
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    opacity: 30%;
    text-decoration: none;
}