h1 {
    text-align: center;
    font-family: 'Indie Flower', cursive;    
    font-size: 75px;
    letter-spacing: 3px;
    margin: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 210;
  height: 210;
}

div.nav_links {
    text-align: center;
}