<head>
<link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Indie+Flower&display=swap" rel="stylesheet">
</head>

<h1>LabSprout</h1>

<img src="https://www.pinclipart.com/picdir/big/122-1220895_report-abuse-pixelated-pixel-art-plants-clipart.png" width="250" height="250"><br>
