<h1>LabSprout</h1>

<img src="https://www.pinclipart.com/picdir/big/122-1220895_report-abuse-pixelated-pixel-art-plants-clipart.png" width="250" height="250"><br>

<%= link_to "Sign Up", '/signup' %>
<%= link_to "Log In", '/login' %>
<%= link_to "Log Out", '/logout' %>

